
.carousel img {
  display: block;
  height:100%;
  width:auto;
}

.caption {
  color: black;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 10000;
 /* padding: 10px;*/
}
.carousel {
  display: block;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 100%;
  }
}
@media screen and ( min-width: 400px ) {
  .carousel img {
    height: 400px;
  }
  .main-carousel {
  margin-top:20%;
}
}
.flickity-page-dots .dot {
  display: none;
}
.main-carousel {
  margin-top:2%;
  display: block;
}
nav {
  display: block;
}


.corners {
/*   display: flex;
  justify-content: space-between;*/
  font-size: 

}

.flickity-button {
    position: absolute;
    background: hsl(0deg 0% 0%);
    /* border: none; */
    color: black;
}

#panel{
  font-size: 60px;
  font-style: bold;
  background: white;
}


.wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  height:100%;
}

.title {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}


.card {
  height:100%;
  width:100%;
  background-color: #fff;
}

.container.show-border,
.element.show-border {
  border: 1px red solid;
  padding: 9px;
}

.content {
  color: #fff;
  background-color: #cccccc;
  padding: 20px;
  font-family: "Montserrat";
  font-size: calc(1vw + 1em);
}

@media (max-width: 375px) {
  .content {
    padding: 5px;
    font-size: 0;
    text-indent: -9999999em;
  }
}
.container,
.element {
  padding: 0px;
  border:1px solid white;
}

.flex {
  display: flex;
  box-sizing: border-box;
}

.row {
  flex-flow: row wrap;
}

.col {
  flex-flow: column wrap;
}

.element {
  min-width: 100px;
}

.content {
  flex: 1 100%;
}

.structure {
  min-height: 480px;
}

.structure-1 {
  flex: 1 55.5555555556%;
}

.a {
  flex: 1 40%;
}

.b {
  flex: 1 60%;
}

.structure-1-2-1 {
  flex: 1 20%;
}

.c,
.d {
  flex: 1 50%;
}

.e {
  flex: 1 80%;
}

.structure-2 {
  flex: 1 44.4444444444%;
}

.f {
  flex: 1 50%;
}

.structure-2-2 {
  flex: 1 50%;
}

.g {
  flex: 1 75%;
}

.h {
  flex: 1 25%;
}

@media (max-width: 768px) {
  .structure-1,
.structure-2,
.f,
.structure-2-2 {
    flex: 1 100%;
    min-height: 480px;
  }
}

img {
  object-fit: cover;
}